<h1>Rails Anime List</h1>

<form action="/animes" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="..." />

  <div>
    <label for="anime_title">Title</label><br />
    <input type="text" name="anime[title]" id="anime_title" />
    <input
      type="submit"
      name="commit"
      value="Insert anime"
      data-disable-with="Insert anime"
    />
  </div>
</form>

<br /><br /><br />

<h3>Anime List:</h3>
<ul>
  <% @animes.each do |anime| %>
  <li style="display: flex">
    <%= link_to anime.title, anime_path(anime) %> &nbsp;&nbsp;
    <form action="/animes/<%= anime.id %>/edit">
      <button type="submit">Edit</button>
    </form>
    &nbsp;&nbsp;
    <form action="/animes/<%= anime.id %>" method="delete">
      <button type="submit">Delete</button>
    </form>
  </li>
  <br />
  <% end %>
</ul>
