<.header>
  New Anime
  <:subtitle>Use this form to manage anime records in your database.</:subtitle>
</.header>

<.anime_form changeset={@changeset} action={~p"/anime"} />

<.back navigate={~p"/anime"}>Back to anime</.back>
